<!-- wp:template-part {"slug":"header-default" ,"tagName":"header"} /-->
<!-- wp:pattern {"slug":"kiddiemart-lite/shop-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:group {"align":"full","layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group alignfull">
        <!-- wp:columns {"align":"wide","className":"wp-product-category-with-sidebar wp-block-sidebar-on-left"} -->
        <div class="wp-block-columns alignwide wp-product-category-with-sidebar wp-block-sidebar-on-left">
            <!-- wp:column {"width":"25%","className":"wp-block-column-sidebar"} -->
            <div class="wp-block-column wp-block-column-sidebar" style="flex-basis:25%">
                <!-- wp:template-part {"slug":"sidebar-products","tagName":"div"} /-->
            </div>
            <!-- /wp:column -->
            <!-- wp:column {"width":"75%"} -->
            <div class="wp-block-column" style="flex-basis:75%">
                <!-- wp:woocommerce/product-collection {"queryId":1,"query":{"perPage":9,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":true,"taxQuery":[],"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock","outofstock","onbackorder"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":3,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"align":"wide"} -->
                <div class="wp-block-woocommerce-product-collection alignwide"><!-- wp:woocommerce/product-template -->
                    <!-- wp:template-part {"slug":"product-collection"} /-->
                    <!-- /wp:woocommerce/product-template -->

                    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
                    <!-- wp:query-pagination-previous /-->

                    <!-- wp:query-pagination-numbers /-->

                    <!-- wp:query-pagination-next /-->
                    <!-- /wp:query-pagination -->

                    <!-- wp:woocommerce/product-collection-no-results -->
                    <!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"wrap"}} -->
                    <div class="wp-block-group"><!-- wp:paragraph {"fontSize":"medium"} -->
                        <p class="has-medium-font-size"><strong>No results found</strong></p>
                        <!-- /wp:paragraph -->

                        <!-- wp:paragraph -->
                        <p>You can try <a href="#" class="wc-link-clear-any-filters">clearing any filters</a> or head to
                            our <a href="#" class="wc-link-stores-home">store's home</a></p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                    <!-- /wp:woocommerce/product-collection-no-results -->
                </div>
                <!-- /wp:woocommerce/product-collection -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->